<% if @cartitem.errors.present? %>
    <p>入力内容にエラーがあります。</p>
    <ul>
        <% @cartitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<h3>数量を入力してください。(1～99)</h3>
<% product = Product.find_by(id: @cartitem.product_id) %>
<%= form_for @cartitem, url: {action: :create} do |f| %>
    <p>商品名：<%= product.name %></p>
    <p>価格：<%= product.price %>円</p>
    <p><%= f.label :quantity, "数量" %>
    <%= f.text_field :quantity %></p>
    <%= f.hidden_field :product_id %>
    <%= f.submit "登録" %>
<% end %>
    